body{
    padding: 50px;
    background: fixed;
    border-radius: 1px;
    background-color:azure;
}

form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

h1{
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: azure;
    color: black;
}